[Unit]
Description=FTTH Fault Detection API Service
After=docker.service
Requires=docker.service

[Service]
Type=simple
User=root
WorkingDirectory={{ app_base_dir }}
ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose down
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
